{# total items count #}
{% extends '@App/default/base.html.twig' %}
{% block body %}
    <div class="count">

    </div>



    {% for film in pagination %}

        <div style="clear: both; padding: 10px; border: 4px double black; height: 500px">
            <a href="{{ path('films_details', {'id':film.id}) }}">{{ film.name }}</a>
            <p>
                <span style="float: right; font-size: 15px;padding: 2px; font-weight: bold;color: red">
                    {{ film.releasInWord|date('F j, Y') }}
                </span>
            </p>
            <p>
                <a href="{{ path('films_details', {'id':film.id}) }}">
                    <img style="float: left;margin: 0 10px 0 0;" src="{{ vich_uploader_asset(film, "imageFile") }}"
                         alt={{ film.imageName }} width="200" height="400">
                </a>

            </p>

        <span style="text-align: left; font-size: 15px; padding: 2px; font-weight: bold;">
                       Жанр:
                    </span>
            {% for films in film.category.toArray %}
                <a href="{{ path('choose_category',{'id':films.id}) }}">{{ films.name }}</a>
            {% endfor %}

            <p>
                  <span style="text-align: left; font-size: 15px; padding: 2px; font-weight: bold;">
                    Выпущено:
                  </span>{{ film.released|date('F j,Y') }}
            </p>
            <p>
                  <span style="text-align: left; font-size: 15px; padding: 2px; font-weight: bold;">
                    Режиссер:
                  </span>{{ film.producer }}
            </p>
            <p>
                 <span style="text-align: left; font-size: 15px; padding: 2px; font-weight: bold;">
                    В главных ролях:
                 </span>{{ film.mainrole }}
            </p>
            <p>
                    <span style="text-align: left; font-size: 15px; padding: 2px; font-weight: bold;">
                    Возрастное ограничение:
                    </span>{{ film.ageQualification }}
            </p>
            <p>
                    <span style="text-align: left; font-size: 15px; padding: 2px; font-weight: bold;">
                    Продолжительность:
                    </span><span style="color:green">{{ film.duration }}</span>
            </p>
            <p>
                    <span style="text-align: left; font-size: 15px; padding: 2px; font-weight: bold;">
                    Формат:
                    </span><span style="color: blue">{{ film.format }}</span>
            </p>
            <p>
                    <span style="text-align: left; font-size: 15px; padding: 2px; font-weight: bold;">
                    Зал:
                    </span>{{ film.hole }}
            </p>
            <p>
                    <span style="text-align: left; font-size: 15px; padding: 2px; font-weight: bold;">
                    Сеансы:
                    </span>
            </p>
            <p>
                    <span style="text-align: left; font-size: 15px; padding: 2px; font-weight: bold;">
                    О фильме:
                    </span>{{ film.annotation }}
            </p>
        <span style="float: right;">
                <a class="btn btn-default" href="{{ path('film_edit', {'id': film.id}) }}">Edit</a>
            </span>

                {% if but==1 %}
                <a class="btn btn-default" href="{{ path('place_e',{'id':film.id}) }}">Resevation</a>
                {% endif %}

        </div>
    {% endfor %}
    {# display navigation #}
    <div class="navigation">
        {{ knp_pagination_render(pagination) }}
    </div>
{% endblock %}