{% extends '@App/default/base.html.twig' %}

{% block body %}
    <div style="margin-left:25%;">

        <table
                style="font-style: italic; width: 80%;">
            <copation>
                <span
                        style="margin-left: 35%; font-style: inherit; font-size:  25px;color: black; font-weight: bold">Place in Sinema
                </span>
            </copation>
            {% for i in 1..10 %}
                <tr>
                    <th style="font-style: italic; height: 60px;">Ряд {{ i+1 }}</th>
                    {% for j in 1..10 %}
                        <td>
                            {{ form_widget(form['['~i~']-['~j~']']) }}
                        </td>
                    {% endfor %}
                </tr>
            {% endfor %}
        </table>
    </div>
    {{ form_row(form.Reserved) }}


    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">

            <!--<form class="modal-content">-->
                {{ form_start(modalForm, {'attr':{'class':'modal-content'}}) }}
                <!--<div class="modal-header">
                    <h4 class="modal-title" id="myModalLabel">Modal title</h4>
                </div>!-->
                <div class="modal-body">
                    <strong>Enter ur Name</strong>
                    <p>{{ form_row( modalForm.name) }}</p>
                    <br>
                    <strong>Enter ur Mail Adress</strong>
                    <p>{{ form_row( modalForm.mail)}}</p>
                    <p>{{ form_row( modalForm.temp) }}</p>
                </div>
                <div class="modal-footer">
                    {{ form_row(modalForm.close) }}
                    {{ form_row(modalForm.sendmessage) }}
                </div>
            {{ form_end(modalForm) }}
           <!-- </form>-->
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    <script>
        $(document).ready(function () {

            //отобразить сообщение, когда модальное окно будет полностью скрыто от пользователя
            $("#myModal").on('hidden.bs.modal', function () {
                $(".btn-click").toggleClass("btn-click");
            });
        });
         $(function () {
            $(".place-button").click(function () {
                $(this).toggleClass("btn-click");
            })
            $("#myModal").on('show.bs.modal',function () {
                var arrList = $('.btn-click').map(function(){
                    return $(this).text();
                }).get();
                $("#modal_form_temp").val(arrList);

            })
        })


       /* $(function () {
            var k = $("button");
            var key = 0;
            var str;
           // for (var i = 0; i < k.length; i++) {
              //  var but = k[i];
                $(but).click(function () {
                  //  but.addClass("btn-click");
                    $(this).toggleClass("btn-click");
                    alert(but.class);
                    if (this.name != "choice_place_form[Reserved]" && this.name != "modal_form[close]" && this.name != "modal_form[sendmessage]" && this.name != "modal_form[X]") {
                        $(this).prop('disabled', true);
                        $(this).css('background-color', "#868686");
                        str += this.textContent + ',';
                    }

                    if (this.name == "choice_place_form[Reserved]") {
                        if (key == 0) {
                            str = str.substring(0, str.length - 1);
                            str = str.substr(9);
                        }
                        if (key > 0) {
                            str = str.substring(0, str.length - 1);
                        }
                        // alert(str);
                        $("#modal_form_temp").val(str.trim());
                    }

                    if (this.name == "modal_form[close]") {
                        key += 1;
                        for (var j = 1; j < k.length - 3; j++) {
                            if (str.indexOf(k[j].textContent) != -1) {
                                $(k[j]).prop('disabled', false);
                                $(k[j]).css('background-color', '#337ab7');
                            }
                        }
                        str = "";
                    }
                })
            //}
        })*/
</script>
{% endblock %}

{% block stylesheets %}
    <style>
        .btn-click {  background-color: Green;}
        .btn-click:hover{ background-color: #1C440C}
        .btn-click:focus{background-color: green}
    </style>
{% endblock %}

