{% extends '@App/default/base.html.twig' %}

{% block body %}
    <div>
        <table>
            <caption>места в кинотеатре</caption>
            {% for i in 0..10 %}
                <tr>
                    <th style="font-style: italic">Ряд {{ i+1 }}</th>
                    {% for j in 0.. 10 %}
                        <td>
                            <p>
                                <button style="background: #2aabd2; width: 80px; height: 40px;
border-radius: 5px; box-shadow: 0 1px 3px; font-size: 20px;" name="{{ i }}-{{ j }}"> {{ j+1 }}</button>
                            </p>
                        </td>
                    {% endfor %}
                    <th style="font-style: italic">Ряд {{ i+1 }}</th>
                </tr>
            {% endfor %}
        </table>

        <table border="1">
            <caption>Карта Кинотеатра</caption>
            <tr>
                <td>Свободыне места</td>
                <td>
                    <button style="background: #2aabd2; width: 80px; height: 40px;
border-radius: 5px; box-shadow: 0 1px 3px; font-size: 20px; " value="Свободные места"; type="button"
                            disabled></button>
                </td>
            </tr>
            <tr>
                <td> Занятые места</td>
                <td>
                    <button style="background: #868686; width: 80px; height: 40px;
border-radius: 5px; box-shadow: 0 1px 3px; font-size: 20px" value="Занятые места"; type="button" disabled></button>
                </td>
            </tr>
        </table>
        <button style="text-align: center;background: #0088CC; width: 100px; height: 40px;
border-radius: 5px; box-shadow: 0 1px 3px; font-size: 20px" name="Reserv" >Reserved</button>
        <button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal" name="Launch demo modal">
            Launch demo modal
        </button>

        <!-- Modal -->
        <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close" name="X"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="myModalLabel">Modal title</h4>
                    </div>
                    <div class="modal-body">
                        Enter ur Name
                        <br>
                        Enter ur Mail Adress
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal" name="close">Close</button>
                        <button type="button" class="btn btn-primary" name="save changes">Save changes</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}


{% block javascripts %}

    <script>
        window.onload = function () {
            var k = document.getElementsByTagName("button");
            var str;
            for (var i = 0; i < k.length; i++)
                k[i].onclick = function () {
                    if(this.name!="Reserv" && this.name!="Launch demo modal" &&this.name!="close" && this.name!="save changes" && this.name!="X") {
                        this.disabled = true;
                      //  alert(this.id);
                        str+=this.name+',';
                        this.style.background = '#868686';
                    }
                    if(this.name=="Reserv")
                    {
                        alert(str);
                    }
                }
        }
    </script>
{% endblock %}