<!--{% extends '@App/default/base.html.twig' %}

{% block body %}
    <div>
        <table>
            <caption>места в кинотеатре</caption>
            {% for i in 0..10 %}
                <tr>
                    <th style="font-style: italic">Ряд {{ i+1 }}</th>
                    {% for j in 0.. 10 %}
                        <td>
                            <p>
                                <button style="float-displace: ident;' background: #2aabd2; width: 80px; height: 40px;
border-radius: 5px; box-shadow: 0 1px 3px; font-size: 20px;" name="{{ i }}-{{ j }}; "> {{ j+1 }}</button>
                            </p>
                        </td>
                    {% endfor %}
                    <th style="font-style: italic">Ряд {{ i+1 }}</th>
                </tr>
            {% endfor %}
        </table>

        <table border="1">
            <caption>Карта Кинотеатра</caption>
            <tr>
                <td>Свободыне места</td>
                <td>
                    <button style="background: #2aabd2; width: 80px; height: 40px;
border-radius: 5px; box-shadow: 0 1px 3px; font-size: 20px; " value="Свободные места"; type="button"
                            disabled></button>
                </td>
            </tr>
            <tr>
                <td> Занятые места</td>
                <td>
                    <button style="background: #868686; width: 80px; height: 40px;
border-radius: 5px; box-shadow: 0 1px 3px; font-size: 20px" value="Занятые места"; type="button" disabled></button>
                </td>
            </tr>
        </table>

        <button style="text-align: center;background: #0088CC; width: 100px; height: 40px;
border-radius: 5px; box-shadow: 0 1px 3px; font-size: 20px" name="Reserv" >Reserved</button>
        <button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal" name="Launch demo modal">
            Launch demo modal
        </button>

        <!-- Modal -->
      <!--  <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
            <div class="modal-dialog" role="document">
                <   <form class="modal-content" method="post" action="{{ !path('send_mile',{ 'id': film.id }) }}">
                    <div class="modal-header">
                        <h4 class="modal-title" id="myModalLabel">Modal title</h4>
                    </div>
                    <div class="modal-body">
                        <strong>Enter ur Name</strong>
                        <p>{{ !form_row( modalForm.name) }}</p>
                        <br>
                        <strong>Enter ur Mail Adress</strong>
                        <p>{{! form_row( modalForm.mail) }}</p>
                        <p>{{ !form_row( modalForm.temp) }}</p>
                    </div>
                    <div class="modal-footer">
                        {{ !form_row(modalForm.close) }}
                        {{ !form_row(modalForm.sendmessage) }}
                    </div>
                </form>
            </div>
        </div>
    </div>-->
{% endblock %}


{% block javascripts %}

    <script>
        $(document).ready(function(){

            //отобразить сообщение, когда модальное окно будет полностью скрыто от пользователя
            $("#myModal").on('hidden.bs.modal', function(){
                alert("Модальное окно было успешно закрыто.");
            });
        });





       /* window.onload = function () {
            var k = document.getElementsByTagName("button");
            var str;
            for (var i = 0; i < k.length; i++)
                k[i].onclick = function () {
                    if(this.name!="Reserv" && this.name!="Launch demo modal" && this.name!="close" && this.name!="save changes" && this.name!="X") {
                        this.disabled = true;
                      //  alert(this.id);
                        str+=this.name+',';
                        this.style.background = '#868686';
                    }
                    if(this.name=="Reserv")
                    {
                        str=str.substr(9);
                        //alert(str);
                    }
                    if(this.name=="Launch demo modal")
                    {
                        //alert("mraz");
                        str1=str.substr(9);
                        str2=str1.substring(0, str1.length - 1);
                        document.getElementById('temp').value=str2;
                    }
                    if(this.name=="save changes")
                    {

                        str=str.substr(9);
                       // alert("asdasdsad "+str2);

                        //$.form.action();
                       // $.post('#',str2,'save changes');
                        $("button.close").trigger("click");
                        //ichichanshka@gmail.com
                    }
                }
        }*/
    </script>
{% endblock %}-->